<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <link rel="stylesheet" href="/static/lib/normalize.css" />
  <link rel="stylesheet" href="/static/lib/skeleton.css" />
    <title>Passwordchecker API</title>

</head>
<body>
  <div class="container">
      <a href="https://haveibeenpwned.com/API/v3#PwnedPasswords" target="_blank">API Documentation</a>&nbsp;&nbsp;&nbsp;
    <a href="https://github.com/martino1988/PwdChecker-haveibeenpwned-API" target="_blank">Sourcecode</a>
  <h3>haveibeenpwned API</h3>
  <h5>Check if your password is already leaked:</h5>

    {% block content %}

    {% endblock %}
    <br />
    <br />

</div>
</body>
</html>




